atomicwrites==1.2.1
attrs==18.2.0
colorama==0.4.0
cupy-cuda90==5.0.0
cycler==0.10.0
fastrlock==0.4
glob3==0.0.1
kiwisolver==1.0.1
matplotlib==2.2.3
more-itertools==4.3.0
numpy==1.15.1
opencv-python==3.4.2.17
Pillow==5.2.0
pluggy==0.8.0
py==1.7.0
pyparsing==2.2.0
pytest==3.9.3
python-dateutil==2.7.3
pytz==2018.5
six==1.11.0
torch==0.4.1
torchvision==0.2.1
